body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
  padding: 3.2em 0;
  overflow: hidden;
}

/* header style */
.navbar{
    width:85%;
}
.underline{
  position: absolute;
  width: 100%;
  height: 0.2rem !important;
  border-bottom: 10px solid white;
  top: 5rem;
}
.cust-btn{
    background-color: #23CE6B;
    color: white;
    padding: 0.3rem 1.5rem !important;
    border-radius: 5px;
}

.nav-link{
    color: #FFFFFF;
}

.navbar.scroll{
    background-color: #08083D;
    width: 100%;
    transition: background 500ms;
}

@media (max-width: 1003px) {
    .navbar{
      background-color: #08083D;
    }
}
@media (max-width: 1003px) {
  .underline{
    display: none;
  }
}

/* header style end*/

/* HERO STYLE*/
section .hero{
    padding: 1.85rem 0;
  }

.hero{
    width: 100%;
    height: 100vh;
    padding: 0 5rem;
    background-image: url("../images/Rectangle\ 452.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#hero h2 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
}

#hero p{
    color: #FFFFFF;
}

.underline{
    width: 100%;
    height: 1rem;
    background-color: #FFFFFF;
    border: none;

}

.hero-button{
    background-color: #23CE6B;
    border: none;
    color: #FFFFFF;
    padding: 1rem 2rem;
    border-radius: 1.9rem;
    transition: all 0.3s ease-in;
}
.hero-button:hover{
    transform: translateY(-0.6rem);
    color: #FFFFFF;
    box-shadow: 0px 8px 8px #23CE6B80;
}
.hero-button img{
    margin-left: .3rem;
    width: 1rem;
}
@media (max-width: 991px) {
    .hero {
      height: auto;
      padding: 180px 0 60px 0;
    }
    .hero .hero-img {
      text-align: center;
      margin-top: 1em;
    }
    .hero .hero-img img {
      width: 80%;
    }
    .hero h1 h2{
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .hero {
      text-align: center;
    }
    .hero h1 {
      font-size: 16em;
    }
    .hero h2 {
      font-size: 1.5em;
    }
    .hero .hero-img img {
      width: 100%;
    }
  }
 
  
@media (max-width: 500px) {
  #hero h2{
    font-size: 2rem !important;
  }
  #hero p{
    font-size: 1.1rem !important;
  }
}
/* HERO STYLE end*/


/* About us STYLE*/
#about-us{
  background-color: #dadff9;
}
#about-us p{
  font-size: 1.5rem;
}
#about-us h2{
  font-size: 3.1rem;
}
@media(max-width:500px){
  #about-us h2{
    font-size: 2rem !important;
  }
}

@media(max-width:800px){
  #about-us{
    color: #FFFFFF;
    background-image: url("../images/Mask\ Group\ 877@2x.png");
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
  }
  #about-us p{
    text-align: center;
    font-size: 70%;
    padding-left: 10px !important;
  }
}


/* About us STYLE end*/

/* mall style */
.mall{
  background-color: #08083D;
  color: #FFFFFF;
}
.mall h2{
  font-size: 2rem;
}
.mall p{
  font-size: 1.3rem;
}
#mall-heading{
  margin-top: 5rem;
}

.mall .my-card{
  height: 100%;
  padding: 60px 30px;
  text-align: center;
  border-radius: 15px;
}

/* mall style end*/

/* feature style */
.feature h2{
  margin-top: 5rem;
  font-size: 2rem;
}

.feature .feature-card{
  height: 100%;
  padding: 50px 20px;
  text-align: center;
  font-weight: bolder;
}

/* feature style end*/


/* steps style */
.steps .section-heading{
  margin-top: 5rem;
  font-size: 2rem;
  color: #FFFFFF;
}
.steps h2{
  color: #FFFFFF;
}
.steps{
  background: transparent linear-gradient(139deg, #6184D8 0%, #08083D 100%);
  opacity: 0.9;
}
.steps .green{
  color: #23CE6B;
  font-weight: bolder;
}
.right-content{
  background: transparent linear-gradient(328deg, #4D80FB 0%, #23CE6B 100%);
  border-radius: 180px;
  height: 100%;
  padding: 1rem;
 }
.big-button{
  box-shadow: 3px 3px 6px #6184D8;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  opacity: 1;
}
@media(max-width:770px){
  .right-content{
    height: 100% !important;
    width:  80px !important;
  }
}

/* steps style end*/

/* mccafe style */

.mcafe{
  color: #FFFFFF;
  background-image: url("../images/Group\ 2110.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#mcafe-content{
  margin-top: 5.5rem;
}

/* mccafe style end*/

#meeting p{
  font-size: 1.3rem;
  color: #08083D;
}
#meeting h2{
  font-size: 2.5rem;
  color: #08083D;
}

footer{
  color: #FFFFFF;
  background-image: url("../images/Group\ 2176.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
footer img{
  width: 1.2rem;
  height: 1.2rem;
}
#footer-nav li{
  margin-top: 1rem;
  padding: 1rem 0rem;
  margin-left: 2rem;
  list-style: none;
}
#footer-nav{
  display: flex;
  justify-content: end;
}
@media(max-width:500px){
  footer{
    font-size: 70%;
  }
}